.filter{
    margin-top: 40px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,170px);
    grid-gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.css-13cymwt-control{
    background-color:#1b1b1b !important;
    // background-color: red !important;
    border : 1px solid #1b1b1b !important;
    color: #545454  !important;
    cursor:  pointer !important;

    &:hover{
        background-color:#2d2d2d !important;
        color: red !important;
    }
    &:focus{
        background-color:#2d2d2d !important;
    }
}
.css-b62m3t-container{
    z-index: 100;
    cursor: pointer !important;
}
.css-1xc3v61-indicatorContainer{
    color: #545454 !important;
}
.submit{
    height: 38px;
    width: 80px;
    border-radius: 4px;
    background-color: red;
    cursor: pointer;
    &:hover{
        background-color: cornsilk;
    }
}