.header {
    .logo {
        flex-grow: 1;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;

        &-item {
            display: flex;
            gap: 0px 5px;
            margin: 0;
            text-decoration: none;
            // a{
            //     text-decoration: none;
            // }
        }

        &-items {
            position: relative;
            display: flex;
            padding: 10px 10px;
            justify-content: center;
            align-items: center;
            color: #F1E4E4;
            text-decoration: none;
            cursor: pointer;
            a {
                color: white;
                text-decoration: none;
            }
            &:hover{
                color: white;
            }
            &::before{
                content: '';
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: red;
                width: 0;
                height: .8px;
                position: absolute;
                bottom: 8px;
                left: auto;
            }
            &:hover {
                &::before{
                    width: 80%;
                    transition: width .3s ease,color .3s ease;
                }
            }
            .type-sub{
                position: absolute;
                top: 38px;
                display:flex;
                max-height: 300px;
                flex-wrap: wrap;
                flex-direction: column;
                background-color: #292929;
                padding: 10px 20px;
                text-decoration: none;
                left: 10px;
                list-style: none;
                font-size: 14px;
                line-height: 1.8;
               
                &--items{
                    display: flex;
                    align-items: center;
                    margin: 1px;
                    border-radius: 5px;
                    padding: 5px 10px;
                    // padding: ;
                    &:hover{
                        background-color: red;
                    }
                }
            }
            .genre{
                min-width: 300px
            }
        }

        &-search {
            display: flex;
            align-items: center;
            margin: 0px 20px;

            &__input {
                width: 264.5px;
                &_text{
                    border: none;
                    height: 35px;
                    width: 100%;
                    background-color: rgb(75, 72, 73);
                    font-size: 20px;
                    text-indent: 10px;
                    &::placeholder {

                        letter-spacing: 4px;
                    }
                }
            }

            &__icon {
                display: flex;
                align-items: center;
                padding: 0px 10px;
                margin: 0px 10px;

                :hover {
                    color: red;
                }

                svg {
                    cursor: pointer;
                    font-size: 50px;
                }
            }
        }
    }
}

hr{
    width: 95%;
    height: 0.1px;
    border-radius: 1px;
    border: none;
    background: #6d6d6d;
}

.login{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    column-gap: 10px;
    cursor: pointer;
    color: #F1E4E4;
    &:hover{
        color: #fff;
    }
}

