.logo{
    max-width: 100%;
    // max-height: 40px;
}
.logo-svg{
    max-height: 80%;
    max-width: 100%;
    display: flex;
    align-items: 'center';
    overflow: hidden;
    svg{
        // width: 00px;
        width: 150px;
        height: 120px;
        // // fill: #6d6d6d;
        // height: 200px;
        // // width: ;
        background-color: #161616;
    }
    @media screen and (max-width:1200px){
        justify-content: center;
    }

}